[Hosts]
local = 192.168.150.100
senslope = 192.168.150.100
dynaslope = 192.168.150.100
gsm = 192.168.150.100
gsm2 = 192.168.150.100
sandbox = 192.168.150.100


[Resource]
smsdb = gsm2
datadb = sandbox
sms_mirror_db = sandbox
mobile_nums_db = gsm2
smsdb2 = dynaslope


[resource_connection]
sensor_data = ubuntu75_pysys_local
sms_data = gsm_pi
resources3 = sb_rack_local_1,sb_remote,sb_rack_remote_1,staff1
resources4 = sb_remote,sb_rack_remote_1,sb_local


[Db]
password = cb3wsls3rv3r
name = senslopedb
user = cbews_sys

[Serial]
baudrate = 57600
sunport = COM16
globeport = /dev/globeport
timeout = 5
smartport = /dev/smartport

[gsmio]
resetpin = 38
simulate_gsm = false
server_id = 1

[SMSAlert]
communityphonenumber = 639175048863
sunnumbers =
globenumbers=09166685391,09054537225,09178825084,09163938789
smartnumbers=09288263063,09984405687,09228412065,09228120490,09253120491,09496960870
serveralert = 09490307559

[ReplyMessages]
SuccessEN = Success! Thank you for sending your ground measurements.
SuccessTAG = Ayos! Salamat sa pag text ng inyong mga sukat ng crack.
FailDateEN = Error! There is a problem with your DATE format. Please check your SMS and try again.
FailTimeEN = Error! There is a problem with your TIME format. Please check your SMS and try again.
FailMeasEN = Error! There is a problem with your ground measurements format.  Please check your SMS and try again.
FailWeaEN = Error! There is no weather information sent.  Please check your SMS and try again.
FailObvEN = Error! You did not put your name on the text message. Please check your SMS and try again.
FailOobEN = Error! Your date or time value is either too late or too early. Please check your SMS and try again.

[FileIO]
querylatestreportoutput = /home/louie-cbews/Desktop/query_latest_report_output.txt
alertgenscript = /home/louie-cbews/centralserver/analysis/subsurface/alertgen.py
gndalert1 = /home/louie-cbews/CODES/cbews_iloilo/analysis-pycodes/analysis/surficial/markeralerts.py
surficialscript = /home/louie-cbews/CODES/cbews_iloilo/analysis-pycodes/analysis/surficial/markeralerts.py
output_path = /Documents/monitoringoutput/alertgen/